@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

* {
  font-family: Raleway;
  box-sizing: border-box;
  -webkit-tap-highlight-color: #2bbc8a;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  outline: none !important;
  color: #c9cacc;
  background-color: #1d1f21;
}

html {
  font-size: 50%
}

.container-fluid {
  padding: 0 10% !important;
}

ul {
  list-style: circle;
}

li::marker {
  color: #2bbc8a;
}

p {
  font-size: 2.48262vmin;
  letter-spacing: 0.115103vmin;
  color: #c9cacc;
  word-break: break-all;
  -webkit-box-pack: center;
  justify-content: center;
}
a {
  color:rgba(212, 128, 170, 1) !important;
  font-size: 2.48262vmin;
  letter-spacing: 0.115103vmin;
  word-break: break-all;
  -webkit-box-pack: center;
  justify-content: center;
}
a {
  color: rgba(212, 128, 170, 1) !important;
  text-decoration: none;
}
.headLine {
  width: 0.225693vmin;
  top: 0px;
  left: 1vmin;
  height: 11.9617vmin;
  background-color: #2bbc8a;
}

.header {
  padding-top: 17.8297vmin;
  padding-bottom: 10vmin;
  direction: ltr;
  margin-bottom: 3vmin;
}

.firstName {
  font-weight: lighter;
  text-transform: uppercase;
  word-break: break-all;
  color: #2bbc8a;
  font-size: 6.65793vmin;
  line-height: 1.68;
  letter-spacing: 3.89546vmin;
  margin-bottom: 1.12846vmin;
  direction: ltr;
}

.lastName {
  font-weight: bold;
  font-size: 9.02771vmin;
  text-transform: uppercase;
  word-break: break-all;
  padding-right: 5.64232vmin;
  color: #2bbc8a;
  line-height: 1.09;
  letter-spacing: 4.15952vmin;
  direction: ltr;
}

.jobTitle {
  padding-right: 0px;
  margin-top: 4.51385vmin;
  color: #eeeeee;}
  
.jobTitle .span {
    padding-left: 1vmin;
    letter-spacing: 0.710932vmin;
    text-transform: uppercase;
    word-break: break-all;
    direction: ltr;
    color: #2bbc8a ;
    font-size: 3.04685vmin;
  }


.photo {
  width: 27.2vmin;
  height: 27.2vmin;
  max-height: 270px;
  object-fit: contain;
}

.middleLine {
  width: 0.225693vmin;
  bottom: 3.1597vmin;
  left: 1vmin;
  height: 5.64232vmin;
  background-color: #2bbc8a;
}

.icon {
  width: 5vmin;
  height: 5vmin;
  font-size: 2.5vmin;
  color: white;
  background-color: #1d1f21;
  border-radius: 50%;
  padding: 0.7vmin;
}



.list-item {
  padding-top: 2.03123vmin;
  padding-bottom: 2.03123vmin;
  margin-right: 1vmin;}

.list-item :not(:last-child) {
    border-bottom: 0.225693vmin solid #2bbc8a  ;
  }


.title {
  width: 100%;
  font-weight: bold;
  font-size: 4vmin;
  text-transform: uppercase;
  line-height: 4.5vmin;
  border-bottom: 1px solid #2bbc8a;
  padding-top: 0vmin;
  padding-bottom: 3.8vmin;
  color: #eeeeee ;
  letter-spacing: 1.01562vmin;
  margin-bottom: 1.8vmin;
}

.about .title {
    padding-top: 4vmin;
  }


.bullet {
  position: relative;
}


.bullet:before {
    content: "";
    position: absolute;
    left: 1.4vmin;
    width: 0.3vmin;
    height: 70%;
    background-color: #2bbc8a !important;
    margin-top: 4.2vmin;
  }
.bullet .i {
    font-size: 2.6vmin;
    background-color: #2bbc8a !important;
  }
.record {
  padding-top: 2vmin}

.record .p {
    width: 100%;
    font-size: 2.7vmin;
    line-height: 1.33;
    color: #eeeeee;
    word-break: break-word;
    display: block;
    background-color: #2bbc8a !important ;
  }


li {
  font-family: Raleway;
  line-height: 1.33;
  font-size: 2.8806vmin;
  color: #cccccc ;
}

span {
  color: #eeeeee;
  font-size: 2.28048vmin;
  line-height: 1.2;
  letter-spacing: 0.5vmin;
}

.btn-group-fab {
  position: fixed;
  width: 50px;
  height: auto;
  right: 20px;
  bottom: 20px;
}
.btn-group-fab div {
  position: relative; width: 100%;
  height: auto;
}
.btn-group-fab .btn {
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  display: block;
  margin-bottom: 4px;
  width: 40px; height: 40px;
  margin: 4px auto;
}
.btn-primary {
  color: #fff;
  background-color: #2bbc8a !important;
  border-color: #2bbc8a !important;
}
.bi-printer{background-color: #2bbc8a !important;
color:#1d1f21}
@media (max-width: 744px) {
  .col-8{
    float: left !important;
    width: 92% !important;
  }}
@media print {
  @page {
    size: A4;
    margin: 0mm !important;
  }
  html {
    font-size: 23%;
  }
  .header {
    padding-top: 12vmin;
    padding-bottom: 9vmin;
  }
  .col-8{
    float: left !important;
    width: 66.6666% !important ;
  }}
  ul li {
    margin-left: 1vmin;
  }
}

